.show-details {
    margin-top: 10px;
        img {
            max-width:100%;
            }
}
@media (max-width: 575.98px) { 
    .showImage {
        height:200px;
    }
    .seasonImage {
        height:150px;
    }
 }