<div class="row tileclass">
    <div class="col-sm-6 col-md-3" *ngFor="let show of searchedShows | orderBy: 'show.show?.rating?.average': true">
         <div class="card" [routerLink]="['/showDetails', show?.show?.id]">
              <img [src]="show?.show?.image?.original" [alt]="show?.show?.id" class="genreimg">
              <div class="container">
                <h4><b>{{show?.show?.name}}</b></h4> 
                <p class="text-danger"><b>Rating: {{show?.show?.rating?.average}}</b></p> 
              </div>
         </div>
    </div>
    </div>    