<div class="row tileclass">
    <div class="col-sm-6 col-md-4" *ngFor="let show of searchedShows | orderBy: 'show.rating.average': true">
         <div class="card" [routerLink]="['/showDetails', show?.show?.id]">          
               <img [src]="show?.show?.image?.original" onerror="this.src='assets/default.PNG';" [alt]="show?.show?.id" class="genreimg">
      <div class="genreDetails">
                <div><b>{{show?.show?.name}}</b></div> 
                <p class="text-danger" *ngIf="show.show.rating.average == 0"><b>Rating: NA</b></p> 
                <p class="text-danger" *ngIf="show.show.rating.average != 0"><b>Rating: {{show?.show?.rating?.average}}</b></p> 
              </div>
         </div>
    </div>
    </div>    